* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pointer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pointer-no-u:hover {
  cursor: pointer;
  text-decoration: none;
}

.hovered:hover {
  background-color:rgba(0, 0, 0, 0.15);
}

header {
  height: 50px;
  background-color: rgb(40, 153, 40);
}

/* SPACING STYLES */

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.m-6 {
  margin: 30px;
}

.m-7 {
  margin: 35px;
}

.m-8 {
  margin: 40px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.mx-6 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-7 {
  margin-left: 35px;
  margin-right: 35px;
}

.mx-8 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-7 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.my-8 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 25px;
}

.ml-6 {
  margin-left: 30px;
}

.ml-7 {
  margin-left: 35px;
}

.ml-8 {
  margin-left: 40px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.mr-6 {
  margin-right: 30px;
}

.mr-7 {
  margin-right: 35px;
}

.mr-8 {
  margin-right: 40px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mt-6 {
  margin-top: 30px;
}

.mt-7 {
  margin-top: 35px;
}

.mt-8 {
  margin-top: 40px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.mb-6 {
  margin-bottom: 30px;
}

.mb-7 {
  margin-bottom: 35px;
}

.mb-8 {
  margin-bottom: 40px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.p-6 {
  padding: 30px;
}

.p-7 {
  padding: 35px;
}

.p-8 {
  padding: 40px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-7 {
  padding-left: 35px;
  padding-right: 35px;
}

.px-8 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-7 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-8 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pl-6 {
  padding-left: 30px;
}

.pl-7 {
  padding-left: 35px;
}

.pl-8 {
  padding-left: 40px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pr-6 {
  padding-right: 30px;
}

.pr-7 {
  padding-right: 35px;
}

.pr-8 {
  padding-right: 40px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pt-6 {
  padding-top: 30px;
}

.pt-7 {
  padding-top: 35px;
}

.pt-8 {
  padding-top: 40px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pb-6 {
  padding-bottom: 30px;
}

.pb-7 {
  padding-bottom: 35px;
}

.pb-8 {
  padding-bottom: 40px;
}

/* COLOR STYLES */

.white {
  color: white;
}

.off-white {
  color: rgb(247, 247, 247);
}

.black {
  color: black;
}

.gray {
  color: gray;
}

.light-gray {
  color: rgb(210, 210, 210);
}

.dark-gray {
  color: rgb(79, 79, 79);
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-gray {
  background-color: rgb(160, 160, 160);
}

.bg-light-gray {
  background-color: rgb(200, 200, 200);
}

.bg-x-light-gray {
  background-color: rgb(240, 240, 240);
}

.bg-dark-gray {
  background-color: rgb(130, 130, 130);
}

.bg-light-gray-hovered:hover {
  background-color: rgb(200, 200, 200);
}

.bg-x-light-gray-hovered:hover {
  background-color: rgb(230, 230, 230);
}

.bg-red {
  background-color: red;
}

.bg-orange {
  background-color: orange;
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: green;
}

.bg-x-light-green {
  background-color: rgba(181, 238, 141, 0.822);
}

.bg-blue {
  background-color: blue;
}

.bg-light-blue {
  background-color: lightblue;
}

.bg-purple {
  background-color: purple;
}

.link-redirect {
  color: rgb(0, 110, 255);
}

/* TEXT STYLES */

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-b {
  font-weight: bold;
}

.text-i {
  font-style: italic;
}

.text-u {
  text-decoration: underline;
}

.text-no-u {
  text-decoration: none;
}

.text-1 {
  font-size: 10px;
}

.text-2 {
  font-size: 12px;
}

.text-3 {
  font-size: 14px;
}

.text-4 {
  font-size: 16px;
}

.text-5 {
  font-size: 18px;
}

.text-6 {
  font-size: 20px;
}

.text-7 {
  font-size: 22px;
}

.text-8 {
  font-size: 24px;
}

.text-9 {
  font-size: 26px;
}

.text-10 {
  font-size: 28px;
}

/* SIZE STYLES */

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* BUTTON STYLES */

.btn-x-sm {
  width: 45px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(220, 220, 220);
  padding: 4px 0;
  border: 1px solid lightgray;
  font-size: 14px;
}

.btn-sm {
  width: 75px;
  border-radius: 5px;
  padding: 4px 0;
  border: 1px solid lightgray;
  font-size: 14px;
}

.btn-med {
  width: 100px;
  border-radius: 5px;
  padding: 4px 0;
  border: 1px solid lightgray;
  font-size: 14px;
}

.btn-lg {
  width: 125px;
  border-radius: 5px;
  padding: 4px 0;
  border: 1px solid lightgray;
  font-size: 14px;
}

.btn-x-lg {
  width: 150px;
  border-radius: 5px;
  padding: 5px 0;
  border: 1px solid lightgray;
  font-size: 14px;
}

.btn-hovered:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(223, 223, 223);
}

/* FORM STYLES */

.form-input {
  height: 28px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 7px rgb(237, 237, 237);
  border: 1px solid lightgray;
}

select,
textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
  width: 100%;
}

select {
  height: 25px;
  font-size: 14px;
  border-radius: 4px;
}

/* FLEX STYLES */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-self-center {
  align-self: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* POSITION STYLES */

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* BORDER STYLES */

.border-solid-1 {
  border: 1px solid rgb(177, 177, 177);
}

.border-none {
  border: none;
}

.border-collapse {
  border-collapse: collapse;
}

.border-smooth {
  border-radius: 5px;
}

.border-oval {
  border-radius: 15px;
}

.border-x {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.border-y {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.box-shadow {
  box-shadow: 0 4px 8px rgb(220, 220, 220);
}

/* CARD STYLES */

.card {
  border: solid 1px gray;
  border-radius: 3px;
  
  /* Target desired property to be animated */
  transition: box-shadow .5s ease;
  /* transition: transform .5s ease; */
}

.card:hover {
  cursor: pointer;
  /* Desired animated effect (box-shadow) */
  box-shadow: 1px 3px 5px rgb(181, 181, 181);
  /* transform: scale(1.03); */

  /* Old way, no transition during ease out (below) */
  /* transition: box-shadow .5s ease; */
}

/* GRID STYLES */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-columns: repeat(auto-fill, fit-content); */
  gap: 12px;
}

.grid-center {
  place-self: center;
}

.gap-1 {
  grid-gap: 5px;
}

.gap-2 {
  grid-gap: 10px;
}

/* NEW GRID STYLES */

.l1 {
  grid-column: span 1;
}
.l2 {
  grid-column: span 2;
}
.l3 {
  grid-column: span 3;
}
.l4 {
  grid-column: span 4;
}
.l5 {
  grid-column: span 5;
}
.l6 {
  grid-column: span 6;
}
.l7 {
  grid-column: span 7;
}
.l8 {
  grid-column: span 8;
}
.l9 {
  grid-column: span 9;
}
.l10 {
  grid-column: span 10;
}
.l11 {
  grid-column: span 11;
}
.l12 {
  grid-column: span 12;
}
.l2-offset-1 {
  grid-column: 2 / span 2;
}
.l2-offset-3 {
  grid-column: 4 / span 2;
}
.l2-offset-5 {
  grid-column: 6 / span 2;
}
.l4-offset-2 {
  grid-column: 3 / span 4;
}
.l6-offset-3 {
  grid-column: 4 / span 6;
}
.l6-offset-4 {
  grid-column: 5 / span 4;
}
.l7-offset-3 {
  grid-column: 4 / span 7;
}
.l8-offset-2 {
  grid-column: 3 / span 8;
}

@media screen and (max-width: 1000px) {
  .m1 {
    grid-column: span 1;
  }
  .m2 {
    grid-column: span 2;
  }
  .m3 {
    grid-column: span 3;
  }
  .m4 {
    grid-column: span 4;
  }
  .m5 {
    grid-column: span 5;
  }
  .m6 {
    grid-column: span 6;
  }
  .m7 {
    grid-column: span 7;
  }
  .m8 {
    grid-column: span 8;
  }
  .m9 {
    grid-column: span 9;
  }
  .m10 {
    grid-column: span 10;
  }
  .m11 {
    grid-column: span 11;
  }
  .m12 {
    grid-column: span 12;
  }
  .m2-offset-2 {
    grid-column: 3 / span 2;
  }
  .m8-offset-2 {
    grid-column: 3 / span 8;
  }
}

@media screen and (max-width: 740px) {
  .s1 {
    grid-column: span 1;
  }
  .s2 {
    grid-column: span 2;
  }
  .s3 {
    grid-column: span 3;
  }
  .s4 {
    grid-column: span 4;
  }
  .s5 {
    grid-column: span 5;
  }
  .s6 {
    grid-column: span 6;
  }
  .s7 {
    grid-column: span 7;
  }
  .s8 {
    grid-column: span 8;
  }
  .s9 {
    grid-column: span 9;
  }
  .s10 {
    grid-column: span 10;
  }
  .s11 {
    grid-column: span 11;
  }
  .s12 {
    grid-column: span 12;
  }
  .s4-offset-2 {
    grid-column: 3 / span 4;
  }
  .s10-offset-1 {
    grid-column: 2 / span 10;
  }
  .container {
    padding: 8px;
  }
}

@media screen and (max-width: 440px) {
  .xs1 {
    grid-column: span 1;
  }
  .xs2 {
    grid-column: span 2;
  }
  .xs3 {
    grid-column: span 3;
  }
  .xs4 {
    grid-column: span 4;
  }
  .xs5 {
    grid-column: span 5;
  }
  .xs6 {
    grid-column: span 6;
  }
  .xs7 {
    grid-column: span 7;
  }
  .xs8 {
    grid-column: span 8;
  }
  .xs9 {
    grid-column: span 9;
  }
  .xs10 {
    grid-column: span 10;
  }
  .xs11 {
    grid-column: span 11;
  }
  .xs12 {
    grid-column: span 12;
  }
  .xs5-offset-1 {
    grid-column: 2 / span 5;
  }
  .xs10-offset-1 {
    grid-column: 2 / span 10;
  }
}

/* OTHER MEDIA QUERIES */

@media screen and (max-width: 1240px) {
  .text-vw {
    font-size: 0.95vw;
  }

  .lg-w-50 {
    width: 50%;
  }

  .lg-w-60 {
    width: 60%;
  }

  .lg-w-70 {
    width: 70%;
  }

  .lg-w-80 {
    width: 80%;
  }

  .lg-w-90 {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .med-w-50 {
    width: 50%;
  }
  
  .med-w-60 {
    width: 60%;
  }
  
  .med-w-70 {
    width: 70%;
  }
  
  .med-w-80 {
    width: 80%;
  }
  
  .med-w-90 {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  .sm-w-50 {
    width: 50%;
  }

  .sm-w-60 {
    width: 60%;
  }

  .sm-w-70 {
    width: 70%;
  }

  .sm-w-80 {
    width: 80%;
  }

  .sm-w-90 {
    width: 90%;
  }
}

@media screen and (max-width: 380px) {
  .btn-sm {
    width: 50px;
  }

  .btn-med {
    width: 75px;
  }

  .btn-lg {
    width: 100px;
  }

  .btn-x-lg {
    width: 125px;
  }

  .xs-w-50 {
    width: 50%;
  }

  .xs-w-60 {
    width: 60%;
  }

  .xs-w-70 {
    width: 70%;
  }

  .xs-w-80 {
    width: 80%;
  }

  .xs-w-90 {
    width: 90%;
  }
}
